body {
  counter-reset: figure-count;
  counter-reset: table-count;
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: 12pt;
}

.title-page {
  margin-left: 2em;
}

.indent {
  text-indent: 2em;
}

.footnote {
  float: footnote;
  font-size: 0.8em;
}

@page {
  @top-right {
    content: "Edwards " counter(page);
  }
  @footnote {
    float: bottom;
  }
}

@page :first {
  @top-right {
    content: none;
  }
}

h2 {
  break-after: avoid;
}

/* #region figure and image styles */
figure {
  break-inside: avoid;
  margin: 0;
  margin-bottom: 2em;
  counter-increment: figure-count;
}

figcaption::before {
  content: "Figure " counter(figure-count) ": ";
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* #endregion */

/* #region table styles */
table {
  border-collapse: collapse;
  counter-increment: table-count;
  margin-bottom: 2em;
  break-inside: avoid;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

td, th {
  border: 0.1em solid black;
  padding: 0.3em;
}

caption {
  text-align: left;
}

caption::before {
  content: "Table " counter(table-count) ": ";
  font-weight: bold;
}
/* #endregion */