body {
  counter-reset: figure-count;
}

.title-page {
  text-align: center;
  break-after: page;
}

.indent {
  text-indent: 2em;
}

@page {
  @top-right {
    content: "Edwards " counter(page);
  }
}

@page :first {
  @top-right {
    content: none;
  }
}

h2 {
  break-after: avoid;
}

/* #region figure and image styles */
figure {
  break-inside: avoid;
  margin: 0;
  counter-increment: figure-count;
}

figcaption::before {
  content: "Figure " counter(figure-count) ": ";
  font-weight: bold;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* #endregion */